*{
    margin: 0px;
    padding: 0px;
}
main{
    width: 100vw ;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 25% 10% 40%;
    grid-template-rows: 80px 80px auto 100px;
    grid-template-areas: "h h h h"
    "s1 s1 s1 s2"
    "s1 s1 s1 s2"
    "s1 s1 s1 s2";


}


header{
    background-color: rgb(248, 210, 210);
    grid-area: h;
}
#section1{
    background-color: #f5f5f5;
    grid-area: s1;
}

#section2{
    background-color: #8b9e9e;
    grid-area: s2;

}
#registro {
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    border: 1px solid #000000;
}

label {
    overflow: hidden;
    display: block;
    margin: 10px 0 5px;
}

input {
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
}

button {
    padding: 10px 15px;
}

#estudiantes{
    border-width: 13px;
    border-color: black;
    border-style: solid;
}

